[submodule ".config/nvim"]
	path = .config/nvim
	url = https://github.com/alehenestroza/nvim_config
[submodule ".config/tmux"]
	path = .config/tmux
	url = https://github.com/AleHenestroza/tmux-config
[submodule ".config/alacritty"]
	path = .config/alacritty
	url = https://github.com/AleHenestroza/alacritty-config
